<section class="min-h-screen bg-gradient-to-br from-indigo-700 via-purple-600 to-pink-600 text-white flex items-center">
  <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-10 items-center">

    <div>
      <h1 class="text-4xl md:text-5xl font-bold leading-tight">
        Electrical Panel Manufacturing &
        <span class="text-yellow-300"> Industrial Automation Solutions</span>
      </h1>

      <p class="mt-6 text-lg text-indigo-100">
        High-quality electrical panels and smart automation systems for
        reliable industrial performance.
      </p>

      <div class="mt-8 flex gap-4 flex-wrap">
        <button class="bg-yellow-400 text-indigo-900 px-6 py-3 rounded-xl font-semibold hover:bg-yellow-300 transition">
          Get a Quote
        </button>
        <button class="border border-white px-6 py-3 rounded-xl hover:bg-white hover:text-indigo-700 transition">
          Our Services
        </button>
      </div>
    </div>

    <div class="">
    <!-- <div class="hidden md:block"> -->
      <div class="bg-white/10 backdrop-blur-lg rounded-3xl p-8 shadow-xl">
        <h2 class="text-2xl text-center"> Industries We Serve</h2>
        <ul class="space-y-4 text-lg">
          <li>
            ✔ Steel & Metals :
            <p class="mx-10">From iron ore refinement to flat and long product processing, we provide complete process automation and electrical distribution systems, engineered to meet global standards.</p>
          </li>
          <li>
            ✔ Pulp & Paper :
            <p class="mx-10">We deliver plant-wide automation and lifecycle optimization, giving customers a competitive edge through integrated and intelligent systems.</p>
          </li>
          <li>
            ✔ Sugar Industry :
            <p class="mx-10">Our automation solutions enhance the control and efficiency of sugar production processes, supporting modernization and sustainability.</p>
          </li>          
        </ul>
      </div>
    </div>

  </div>
</section>

<app-about/>