<!-- Top Contact Info Bar (White Background) -->
<div class="bg-white border-b border-gray-200 text-gray-700 text-sm">
  <div class="max-w-7xl mx-auto px-4 py-0 flex flex-col md:flex-row md:justify-between gap-2">

    <!-- Left Contact Info -->
    <div class="flex flex-col sm:flex-row gap-4">
      <img src="assets\logo.png" alt="Sarsiddh Management Consultancy Pvt Ltd"
          class="h-16 w-16 object-contain">

      
    </div>

    <!-- Right Location -->
    <div class="flex items-center gap-2 text-gray-600">
      <!-- 📍 <span>New Delhi, India</span> -->
       <a href="tel:+919369208858" class="flex items-center gap-4 hover:text-blue-700">        
        📞 <span>+91 93692 08858</span>
      </a>
      <a href="mailto:info@sarvsiddhgroup.com" class="flex items-center gap-2 hover:text-blue-700">
        ✉️ <span>info@sarvsiddhgroup.com</span>
      </a>
    </div>

  </div>
</div>
